/*reset rulez*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*debug*/

.debug{
    border: 1px dotted violet;
}

.debugSmallWidth{
    width: 40px;
    height: 50px;
}

.debugBigWidth{
    height: 100vh;
}




/*general rulez*/


body{
    font-family: 'Noto Sans', sans-serif;
}

.flex{
    display: flex;
}

.whiteFont{
    color:white;
}

.greenFont{
    color:rgb(67, 200, 0);
}

.redFont{
    color:red;
}


.smallFont{
    font-size: 10px;
}

.bgBlack{
    background-color: black;
}

/*header*/

header{
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    text-align: right;
}

.transparentBtn{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px 5px;
    border-radius: 5px;
    display: inline-block;
}

.transparentBtn:hover{
    cursor: pointer;
}

/*main*/

.wrapper{
    height:calc(100vh - 160);
    padding:80px 0;
    width: 92%;
    margin: auto;
}


.columns{
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}


.col{
    overflow: auto;
    margin: 5px 15px;
    background-image: url(https://picsum.photos/id/10/200/200);
    background-size: cover;
    position: relative;
    width: 200px;
    height: 200px;

}


.absBottomLeft{
    padding: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

}

.layover{
    background-color: rgba(255, 255, 255, 0.3);
}


/*footer*/
footer{
    position: fixed;
    z-index: 999;
    width: 100%;
    bottom: 0;
    left: 0;
}

nav{
    background-color: rgb(34, 34, 34);
    justify-content: space-between;
    align-items: center;
    height: 70px;

    
}

nav ul{
    justify-content: center;
    align-items: center;
    list-style: none;
}


.functionBox{
    text-align: center;
    padding: 0 10px;
}

.icon{
    font-size: 25px;
    padding: 3px;
}


.endCall{
    height: 100%;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    line-height: 70px;
}

.functionBox:hover, .endCall:hover{
    cursor: pointer;
}







