/*reset rulez*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*debug*/

.debug{
    border: 1px dotted violet;
}

.debugSmallWidth{
    width: 40px;
    height: 50px;
}

.debugBigWidth{
    height: 100vh;
}


/*general rulez*/


body{
    font-family: 'Noto Sans', sans-serif;
    position: relative;
}

.wrapper{
    position: relative;
    height: 100vh;
    width: 100%;
}

.whiteFont{
    color:white;
}

.smallFont{
    font-size: 10px;
}

.bgBlack{
    background-color: black;
}

/*header*/

header{
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    text-align: right;
}

.transparentBtn{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px 5px;
    border-radius: 5px;
    display: inline-block;
}

.transparentBtn:hover{
    cursor: pointer;
}

/*main*/

main{
    height: 100vh;
}
.usersContainer{
    margin: auto;
    padding-top: 70px;
    position: relative;
    width: 80%;
    height: 100%;
    /* overflow-y: auto; */
}

/*footer*/
footer{
    position: fixed;
    z-index: 999;
    width: 100vw;
    bottom: 0;
    left: 0;
}

.flex{
    display: flex;
}

nav{
    background-color: rgb(34, 34, 34);
    justify-content: space-between;
    align-items: center;
    height: 70px;

    
}

nav ul{
    justify-content: center;
    align-items: center;
    list-style: none;
}


.functionBox{
    text-align: center;
    padding: 0 10px;
}

.icon{
    font-size: 25px;
    padding: 3px;
}


.endCall{
    background-color: rgba(255, 255, 255, 0.3);
}









